{% extends "base.html" %}

{% block content %}
    <h1>My shopping list</h1>
    <h3><a href="{% url 'shopping_list:create' %}">Add</a>
    </h3>
    <hr/>
    {% for item in items_list %}
        {% if item.complete %}
            <div>
                <a href="#">uncomplete</a>
                <div>
                    <div>
                        {{item.category}}
                    </div>
                    <div>
                        <div>
                            <s><a href="{% url 'shopping_list:update' item.id %}">{{item}}</a></s>
                        </div>
                        <div>
                            <i><a>{{item.note}}</a></i>
                        </div>
                    </div>
                    <div>
                        {{item.quantity}}
                    </div>
                    <div>
                        {{item.unit}}
                    </div>
                </div>
                <a href="#">delete</a>
            </div>
        {% else %}
            <div>
                <a href="#">complete</a>
                <div>
                    <div>
                        {{item.category}}
                    </div>
                    <div>
                        <div>
                            <a href="{% url 'shopping_list:update' item.id %}">{{item}}</a>
                        </div>
                        <div>
                            <i><a>{{item.note}}</a></i>
                        </div>
                    </div>
                    <div>
                        {{item.quantity}}
                    </div>
                    <div>
                        {{item.unit}}
                    </div>
                </div>
                <a href="#">delete</a>
            </div>
        {% endif %}
    {% endfor %}

{% endblock content %}