{% extends "base.html" %}

{% block content %}
    <h1>My shopping list</h1>
    <h3><a href="{% url 'shopping_list:create' %}">Add</a>
    </h3>
    <hr/>
    {% for shopping_list in shopping_lists %}
        <div>
            <a href="#">Complete</a>
        </div>
        <div>
            <a href="{% url 'shopping_list:update' shopping_list.id %}">{{ shopping_list.name }}</a>
        </div>
        <div>
            <a href="{% url 'shopping_list:delete' shopping_list.id %}">Delete</a>
        </div>
    {% endfor %}

{% endblock content %}