{% extends "base.html" %}

{% block content %}
    <h1>My shopping list</h1>
    <h3>tutaj jakis button
    </h3>
    <hr/>
    {% for item in items_list %}
        <div>
            <a href="#">complete</a>
            <div>
                <div>
                    {{item.category}}
                </div>
                <div>
                    <div>
                        <a href="#">{{item}}</a>
                    </div>
                    <div>
                        <i><a>{{item.note}}</a></i>
                    </div>
                </div>
                <div>
                    {{item.quantity}}
                </div>
                <div>
                    {{item.unit}}
                </div>
            </div>
            <a href="#">delete</a>
        </div>
    {% endfor %}

{% endblock content %}